<a href="https://colab.research.google.com/github/BeaverWorksMedlytics2020/Week1/blob/master/UpdatedPandasProblemSetSolutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Problem Set

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

### Dataset for tutorial and problem set:

    Pima Indian Heritage Diabetes

    Each person in the dataset is a female who is at least 21 years
    
  #### Below are the variables for each person in the dataset
      'preg': number of pregnancies  
      'plas': plasma glucose concentration 
      'pres': blood pressure 
      'skin': skin thickness
      'test': Insluin
      'mass': BMI
      'pedi': diabetes pedigree function
      'age': age
      'class': '0' means does not have diabetes and '1' means has diabetes

In [29]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [30]:
# your code here
data = pd.read_csv("https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv", names = names)
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

Print out the age and class of the 100th patient

In [31]:
# your code here
#data.iloc[100, 7:9]
data.loc[100, ["age", "class"]]

age      33.0
class     1.0
Name: 100, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [32]:
# your code here
Negative = len(data[(data["class"] == 1)])
print(Negative)

268

Write code to figure out how many people are classified as having diabetes, class is 1

In [33]:
# your code here
Positive = len(data[(data["class"] == 0)])
print(Positive)

500

What percent of people have diabetes in the study

In [34]:
# your code here
per = Positive/len(data["class"])
print(str(per*100) + "%")

65.10416666666666%

Print out the pressure and class (no other columns) for the first 5 people

hint: this was not shown in our tutorial google how to select multiple columns with loc

Being able to effectively google is a very important coding tool

In [35]:
# your code here
data.loc[:4, ["pres", "class"]]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [36]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas   0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres   0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin  -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test  -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass   0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi  -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age    0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
class  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [37]:
# your code here
highest = 0
y = data.corr()["class"]
print(y)
for i in range(len(y)-1):
  if y[i] > highest:
    highest = y[i]
print(highest)
mean_of_val = sum(data["plas"])/len(data["plas"])
print(mean_of_val)
class_mean = mean_of_val

preg     0.221898
plas     0.466581
pres     0.065068
skin     0.074752
test     0.130548
mass     0.292695
pedi     0.173844
age      0.238356
class    1.000000
Name: class, dtype: float64
0.4665813983068757
120.89453125

Create a new dataframe with only people that are above the mean found above

In [60]:
# your code here
above_mean_data = 0
above_mean_data = data[data["plas"] > class_mean]
print(len(above_mean_data))
#above_mean_data.isnull().sum().sum() #no missing values
above_mean_data.dropna()
#sum(above_mean_data["age"])/len(above_mean_data["age"])

349

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1

[349 rows x 9 columns]

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [61]:
# write code here
for x in above_mean_data:
  temp_mean = sum(above_mean_data[x])/len(above_mean_data[x])
  above_mean_data[x] = above_mean_data[x].where(above_mean_data[x] >= temp_mean, 0)
above_mean_data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6     0     0    35     0   0.0  0.627   50      1
2       8   183     0     0     0   0.0  0.672    0      1
4       0     0     0    35   168  43.1  2.288    0      1
8       0   197     0    45   543   0.0  0.000   53      1
9       8     0    96     0     0   0.0  0.000   54      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
759     6   190    92     0     0  35.5  0.000   66      1
761     9   170    74    31     0  44.0  0.000   43      1
764     0     0     0    27     0  36.8  0.000    0      0
765     5     0     0    23     0   0.0  0.000    0      0
766     0     0     0     0     0   0.0  0.000   47      1

[349 rows x 9 columns]

In [62]:
final = above_mean_data[(above_mean_data != 0).all(1)]

In [63]:
final

     preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
152     9   156    86    28   155  34.3  1.189   42      1
206     8   196    76    29   280  37.5  0.605   57      1
546     5   187    76    27   207  43.6  1.034   53      1
603     7   150    78    29   126  35.2  0.692   54      1
612     7   168    88    42   321  38.2  0.787   40      1

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [65]:
# write code here          If you need help: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values
final.sort_values(by=['skin', 'test', 'pedi'], ignore_index=True)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     9   171   110    24   240  45.4  0.721   54      1
1     5   187    76    27   207  43.6  1.034   53      1
2     9   156    86    28   155  34.3  1.189   42      1
3     7   150    78    29   126  35.2  0.692   54      1
4     8   196    76    29   280  37.5  0.605   57      1
5     7   168    88    42   321  38.2  0.787   40      1

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!:

In [59]:
# write code here
df = data
above_mean_data.nlargest(4, ["age", "mass"])

     preg  plas  pres  skin  test  mass  pedi  age  class
459     9     0    74    33     0   0.0  0.00   81      0
666     0     0    82     0     0   0.0  0.00   70      1
123     5     0    80     0     0   0.0  0.00   69      0
684     5     0    82     0     0   0.0  0.64   69      0

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [53]:
#write code here
df.nsmallest(4, ["plas", "preg"], keep="last")

     preg  plas  pres  skin  test  mass   pedi  age  class
342     1     0    68    35     0  32.0  0.389   22      0
182     1     0    74    20    23  27.7  0.299   21      0
75      1     0    48    20     0  24.7  0.140   22      0
349     5     0    80    32     0  41.0  0.346   37      1

Using what you have learned (and google) explore the data. Discuss what you 
find with people around you or the instructors